
<ul data-role="listview" data-filter="false" data-inset="true">
        <li data-role="list-divider">Friends</li>
	<li><%= link_to 'Search', people_friends_path %></li>
	<li><%= link_to 'Friend Groups', people_groups_path %></li>
	<li><%= link_to 'Teams', people_teams_path %></li>
</ul>
<ul data-role="listview" data-filter="false" data-inset="true">
        <li data-role="list-divider">Draft and Free Agency</li>
	<li><%= link_to 'Draft People', people_draft_path %></li>
	<li><%= link_to 'Join Free Agency', people_find_path %></li>
</ul>
